*.pyc
.idea/

/*anh_duc*/
/*bui_thoai*/
/*dinh_phien*/
/*ha_viet_tien*/
/*hoang_bao*/
/*hoang_quoc_hao*/
/*lanh_khanh*/
/*nguyen_thieu*/
/*pham_viet_cuong*/
/*tran_huy*/
/*tran_minh_dung*/
/*tran_vu_duc*/